@model IEnumerable<Model.DTO.CourseDTO>
@{
    ViewBag.Title = "Course List";
}
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@inject IHtmlLocalizer<SharedRes> SharedLocalizer
<a asp-action="Create" class="btn btn-sm btn-default">@SharedLocalizer["Addcourse"]</a>

<table class="table">
    <tr>
        <th>@SharedLocalizer["CourseName"]</th>
        <th>@SharedLocalizer["CreateDate"]</th>
    </tr>
    @foreach (var course in Model)
    {
        <tr>
            <td>@course.Name</td>
            <td>@course.CreationDate.ToString("dd/MM/yyyy")</td>
            <td>
                <form asp-action="Delete" asp-route-id="@course.Id" method="post">
                    <a class="btn btn-sm btn-default" asp-action="Edit" asp-route-id="@course.Id">@SharedLocalizer["Change"]</a>
                    @if (course.IsActive)
                    {
                    <a class="btn btn-sm btn-danger" asp-action="Toggle" asp-route-id="@course.Id">@SharedLocalizer["Delete"]</a>
                    }
                    else
                    {
                    <a class="btn btn-sm btn-primary" asp-action="Toggle" asp-route-id="@course.Id">@SharedLocalizer["Recover"]</a>
                    }
                </form>
            </td>
        </tr>
    }
</table>