@model IEnumerable<Model.DTO.UserDTO>
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@inject IHtmlLocalizer<SharedRes> SharedLocalizer
@{
    ViewBag.Title = "Список пользователей";
}
<style>
    .btn-default{
        width:105px;
    }
</style>
<h2>@SharedLocalizer["UsersList"]</h2>
@foreach (var user in Model)
{

    <div class="container">
        <div class="row">
            <br />
            <div class="col-lg-3">
                <p>@user.Email</p>
            </div>
            <div class="col-lg-8">
                <form asp-action="Delete" asp-route-id="@user.Id" method="post">
                    <a class="btn btn-sm btn-default btn-lg" asp-action="EditRole" asp-route-userid="@user.Id">@SharedLocalizer["Rights"]</a>
                    <button type="submit" class="btn btn-sm btn-default btn-lg">
                        @SharedLocalizer["Delete"]
                    </button>
                </form>

            </div>
        </div>
    </div>
}